<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <HTML lang="pl">
    <META name="copyright" content="&copy;2017 LN-MH-JK">
    <META name="title" content="RoRShopLocal">
    <META name="description"
  content="RorShopLocal is the World's best Board Game Shop ever. You can buy board games and card games online.">
    <META name="keywords" content="boardgames, cardgames, games, friend, ">
    <TITLE>RoRShopLocal</TITLE>
    <link rel="icon" href="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/d4/d4ba740e78712a1e3fa2b1c6b6996823a41c2c7c.jpg">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'defaults', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <% if user_signed_in? && current_user.amenity_id == 1 %>
              user
              <li><%= link_to 'Home'%></li>
              <li><%= link_to 'Products'%></li>
          <% else %>
              <% if user_signed_in? && current_user.amenity_id == 2 %>
                  admin
                  <li><%= link_to 'Home'%></li>
                  <li><%= link_to 'Products'%></li>
              <% else %>
                  guest
                  <li><%= link_to 'Home'%></li>
                  <li><%= link_to 'Products'%></li>
              <% end %>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? && current_user.amenity_id == 1 %>
            user
            <li><%= link_to 'Profile'%></li>
            <li><%= link_to 'Show cart'%></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete%></li>
          <% else %>
            <% if user_signed_in? && current_user.amenity_id == 2 %>
              admin
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete%></li>
            <% else %>
              guest
              <li><%= link_to 'Show cart'%></li>
              <li><%= link_to 'Sign in', new_user_session_path%></li>
              <li><%= link_to 'Sign up', new_user_registration_path%></li>
              <% end %>
          <% end %>
        </ul>
      </div>
    </nav>

    <div id="content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      </div>
  </body>
</html>